<!-- ОБЩИЙ ШАБЛОН С ВЫБОРОМ ПОДРАЗДЕЛЕНИЙ -->

<!doctype html>
<html lang="ru-ru">
{% load static %}
<head>
    {% include '_css.html' %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RCooks - авторизация</title>
</head>

<body>
<main class="content-wrapper" style="min-height: calc(100vh - 70px);">
    <div class="container-fluid" style="padding:0px;">
        {% block content %}

        {% endblock %}
    </div>
</main>

{% include '_scripts.html' %}
</body>
</html>